<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="https://github.com/XP1/Surplus-Lite-extension-for-Opera/" version="1.0">
    <name short="Surplus" dir="ltr" xml:lang="en">Surplus Lite</name>
    <description dir="ltr" xml:lang="en">Lightweight Google+ notifications in Opera.

        Based on @antimatter15's Google Chrome extension.
    </description>
    <author href="https://github.com/XP1/Surplus-Lite-extension-for-Opera/">XP1</author>
    <icon src="images/icons/surplus_128x128.png"/>
    <feature name="opera:share-cookies" required="true"/>
    <access origin="http://google.com/" subdomains="true"/>
    <access origin="https://google.com/" subdomains="true"/>
    <access origin="http://gstatic.com/" subdomains="true"/>
    <access origin="https://gstatic.com/" subdomains="true"/>
    <access origin="http://googleapis.com/" subdomains="true"/>
    <access origin="https://googleapis.com/" subdomains="true"/>
    <access origin="http://googleusercontent.com/" subdomains="true"/>
    <access origin="https://googleusercontent.com/" subdomains="true"/>
</widget>